.login-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
  margin: auto;
  max-width: 30rem;

  .login-title {
    text-align: center;
    margin: .5rem;
  }

  .signin-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 0;

    input {
      border: 1px solid lightgrey;
      border-radius: 5px;
      width: 10rem;
      margin: .25rem;
      padding: .5rem .75rem;
    }

    button {
      border: 1px solid lightgrey;
      border-radius: 5px;
      padding: .75rem;
      margin: .5rem;
    }
  }
}