.signup-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin: 25vh auto;
  padding: 1rem;
  max-height: 60vh;
  max-width: 20rem;

  .signup-title {
    text-align: center;
    margin: .5rem;
  }

  .error-message {
    font-size: .75rem;
    color: darkred;
    text-align: center;
    width: 75%;
    margin: 1rem auto;
  }

  .signup-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
    margin: auto;

    input {
      border: 1px solid lightgrey;
      border-radius: 5px;
      width: 10rem;
      margin: .25rem;
      padding: .5rem .75rem;
    }

    button {
      border: 1px solid lightgrey;
      border-radius: 5px;
      padding: .75rem;
      margin: .5rem;
    }
  }

  .login-redirect {
    text-align: center;
    margin-top: 1rem;
    color: darkgrey;
    font-size: .75rem;

    p, .login-link {
      margin: 0;
    }
  }
}